[Desktop Entry]
Type=Application
Name=Peg Solitaire
GenericName=Puzzle Game
Comment=Classic peg solitaire puzzle game
Keywords=game;puzzle;solitaire;peg;board;
Exec=pegsolitaire
Icon=pegsolitaire
Categories=Game;LogicGame;BoardGame;
MimeType=application/x-pegsolitaire-save;
StartupNotify=true
StartupWMClass=pegsolitaire
